block vars
doctype html
html
  head
    title automation prototype | #{title}
    style
      include style.css
  body
    ul
      li
        a(href='/') HOME
      li
        a(href='login') LOGIN
      li
        a(href='register') REGISTER
    block body
